#nav {
    height: 60px;
    background-color: #0f1111;
    color: white;
}

button {
    background-color: #f08804;
    color: white;
}

#amazon {
    font-size: 25px;
    color: #f08804;
}

a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

.contentBox{
    height: 100px;
    width: 100px;
    border: #0f1111 solid;
    display: inline-block;
}
#content{
    height: 610px;
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}
